<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head"></head>

<body>

<header th:replace="fragments::navbar"></header>

<main role="main">

    <div class="container text-center">
        <img th:src="@{/img/admin-logo.png}" class="img-fluid"/>
    </div>
</main>

<!-- Footer -->
<footer th:replace="fragments::footer"></footer>


<span th:replace="fragments::scripts"></span>

</body>
</html>