<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments::head"></head>

<body>

<main role="main">
<div class="container" style="padding-top: 20px">
    <h5 class="text text-center">Welcome to the Admin Portal</h5>
    <hr/>

    <div class="row">
        <div class="col-4">
            <img th:src="@{/img/jb-logo1.png}" class="img-fluid" style="width: 250px"/>
        </div>
        <div class="col-4">
            <div class="bg-danger" th:if="${param.error}">Invalid username or password</div>
            <div class="bg-danger" th:if="${param.logout}">You have been logged out.</div>

            <form class="form-signin" th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    <div class="form-row">
                        <label for="username" class="col">Username</label>
                        <input type="text" class="form-control" placeholder="Username" name="username" id="username"
                               required="required" autofocus="autofocus"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <label for="password" class="col">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" id="password"
                               required="required" />
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
        <div class="col-4">

        </div>
    </div>

</div>

</main>

<!-- Footer -->
<div class="footer py-5 bg-dark">
    <div class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p class="m-0 text-center text-white">&copy;2018 Alaythia Productions &middot; <a href="#">Privacy</a> &middot;
            <a
                    href="#">Terms</a></p>
    </div>
</div>

<div th:replace="fragments::scripts"></div>

</body>
</html>