
.container {
    width: 90%;
}

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#brand-image {
    height: 35px;
}

.home-headline {
    font-size: 24px;
    color: black;
    margin: auto;
    text-align: center;
    margin-top: -13px;
}

.home-headline span {
    background-color: azure;
    padding: 5px 20px;
}

#featured-books-container {
    width: 80%;
}
#my-account {
    background-image: url("../img/wood-bg.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}
