
.container {
    width: 90%;
}

.img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#brand-image {
    height: 35px;
}

.home-headline {
    font-size: 24px;
    color: black;
    margin: auto;
    text-align: center;
    margin-top: -13px;
}

.home-headline span {
    background-color: azure;
    padding: 5px 20px;
}

#featured-books-container {
    width: 80%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 60px; /* Set the fixed height of the footer here */
    /* padding-bottom: 15px;
     line-height: 60px;  Vertically center the text there */
}

#bookListTable {
    padding-top: 20px;
    padding-bottom: 20px;
}

#listImage {
    max-height: 50px;
}
